.category {
  height: 350px;
  width: 350px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

/* Image inside category card */
.category img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  padding: 0 10px;
}

/* Category link styling */
.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
  display: block;
}

.category h2 {
  padding: 5px;
  margin-left: 15px;
}

.category p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}


.category_container {
  position: relative;
  margin-top: -10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}